/**
 * Lose It Child styles
 *
 * @package 	loseit-lsx-child
 */

// ---------- Mixins ----------

@mixin bp($point) {
	@if $point == lg-desktop {
		@media (min-width: 1200px) { @content; }
	  }
	@if $point == desktop {
	  @media (min-width: 1025px) { @content; }
	}
	@else if $point == tablet {
	  @media (max-width: 1024px) { @content; }
	}
	@else if $point == phone {
	  @media (max-width: 600px)  { @content; }
	}
}
@media (max-width: 1024px) and (min-width: 992px) {
	.hidden-md:not(.facetwp-item) {
		display: block !important;
	}
	.facetwp-item-wrap > .hidden-md {
		display: none !important;
	}
}
@media (max-width: 1199px) and (min-width: 1025px) {
	.hidden-md:not(.facetwp-item){
		display: none !important;
	}
}
@media (max-width: 1024px) and (min-width: 992px) {
	.hidden-mid {
		display: none !important;
	}
}


// ---------- Placeholders: Global ----------


%clear-div {
	&:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: "";
		clear: both;
		height: 0;
	}
}


// ---------- Styles ----------

//Variables
$light-gray: #f6f6f6;
$dark-gray: #434343;
$btn-gray: #DDDDDD;
$red: #FF2900;
$dark-red: #CD2201;
$yellow: #FFDB00;
$dark-yellow: #F0D013;
$accent: #FFFF00;
$heading: #222222;
$font: #4a4a4a;


//Fonts

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');

// @font-face {
// 	font-family: 'Montserrat-Bold';
// 	src: url('Montserrat-Bold');
// 	src: local('Montserrat-Bold'), url('/wp-content/themes/loseit-lsx-child/assets/fonts/Montserrat-Bold.ttf') format('ttf');
// }
$mont-bold: 'Montserrat-Bold';

// @font-face {
// 	font-family: 'Montserrat-Medium';
// 	src: url('Montserrat-Medium');
// 	src: local('Montserrat-Medium'), url('/wp-content/themes/loseit-lsx-child/assets/fonts/Montserrat-Medium.ttf') format('ttf');
// }
$mont-medium: 'Montserrat-Medium';

// @font-face {
// 	font-family: 'Montserrat-Regular';
// 	src: url('Montserrat-Regular');
// 	src: local('Montserrat-Regular'), url('/wp-content/themes/loseit-lsx-child/assets/fonts/Montserrat-Regular.ttf') format('ttf');
// }
$mont-regular: 'Montserrat-Regular';

$open: 'Open Sans';
$mont: 'Montserrat';

body {
	font-family: $open, sans-serif;
	color: $font;
}

h1, #primary.content-area h1 {
	font-family: $mont, sans-serif;
	font-weight: bold !important;
	font-size: 40px;
	color: $heading;
}

h2, h3, h4, h5, h6, #primary.content-area h2, #primary.content-area h3, #primary.content-area h4, #primary.content-area h5, #primary.content-area h6, .widget-area h2, .content-area h3, .widget-area h3, .modal-content h3 {
	font-family: $mont, sans-serif;
	font-weight: 500;
	color: $heading;
}

h2, #primary.content-area h2 {
	font-size: 30px;
	line-height: 36px;
}
h3, #primary.content-area h3,
h4, #primary.content-area h4 {
	font-size: 22px;
	line-height: 29px;
}
h5, #primary.content-area h5 {
	font-size: 22px;
	line-height: 22px;
}

.title-lined {
	border-bottom: 2px solid $red;
	padding-bottom: 10px;
}

//Helpers
.btn,
.button,
.lsx-button,
.woocommerce-page #main button.button,
.woocommerce-page #main input.button {
	border-radius: 0;
	&:hover {
		box-shadow: none !important;
	}
}
.yellow-btn {
	background-color: $yellow;
	color: black;
	&:hover {
		background-color: $red;
		color: white;
	}
}
.wpforms-submit-container {
	button {
		border-radius: 0;
		@extend .yellow-btn;
	}
}
#payment.woocommerce-checkout-payment {
	.form-row.place-order {
		button#place_order {
			border-radius: 0;
			@extend .yellow-btn;
		}
	}
}
.woocommerce-form-coupon-toggle {
    display: initial;
}
.woocommerce .woocommerce-form-login .woocommerce-form-login__submit {
	border-radius: 0;
	@extend .yellow-btn;
	box-shadow: 2px 2px 0 0 black;
}
.gray-btn {
	background-color: $btn-gray;
	color: black;
	&:hover {
		background-color: black;
		color: white;
	}
}
.white-column {
	background-color: white;
}
.white {
	color: white !important;
}
.lsx-list {
	padding-left: 0rem;
	list-style-type: none;
	padding-right: 2rem;
	li {
		font-size: 18px;
		line-height: 25px;
		margin-bottom: 15px;
		display: flex;
		max-width: 560px;
		font-weight: 300;
		&:before {
			content: '\f111';
			display: inline-block;
			font: normal normal normal 14px/1 "FontAwesome";
			font-size: inherit;
			color: $yellow;
			margin-right: 1em;
			padding-top: 5px;
		}
	}
	&.lsx-list-red {
		li {
			&:before {
				color: $red;
			}
		}
	}
}
.lsx-block-accordion {
	details {
		.lsx-accordion-title,
		.lsx-accordion-text {
			padding: 15px 30px;
		}
		.lsx-accordion-title {
			display: block;
		}
		summary {
			font-size: 15px !important;
			font-weight: normal !important;
			&:before {
				color: $red;
				position: absolute;
				right: 1rem;
			}
		}
	}
}
.centered-div {
	display: flex;
	align-items: center;
}
.search-form .submit-button .search-submit {
	background-color: $red;
	box-shadow: 1px 1px 0 0 black !important;
	&:before {
		color: white;
	}
}
#loginform .woocommerce-LostPassword a, .loginform .woocommerce-LostPassword a, .woocommerce form.login .woocommerce-LostPassword a, .woocommerce form.register .woocommerce-LostPassword a, .logged-out .woocommerce .woocommerce-LostPassword a {
	color: $red;
}

//Header
.header-wrap {
	#masthead {
		.navbar-header {
			.custom-logo-link {
				> img {
					min-height: 108px;
					margin: 5px;
				}
				@include bp(tablet) {
					width: 100%;
					text-align: center;
					> img {
						min-height: 90px;
					}
				}
			}
		}
		.primary-navbar {
			> .nav {
				justify-content: flex-end;
				> .menu-item,
				> .menu-item.active {
					> a {
						font-size: 16px;
						text-transform: uppercase;
						font-weight: 600;
					}
				}
			}
		}
	}
	.breadcrumbs-container {
		a {
			&:not(.btn) {
				color: white;
				&:hover {
					color: $dark-red;
				}
			}
		}
	}
}
body:not(.logged-in) {
	#masthead {
		.primary-navbar {
			>.nav {
				.menu-item-has-children {
					>.dropdown-menu {
						display: none;
					}
				}
			}
		}
	}
}

//Home
.page {
	&.home {
		.wp-block-lsx-blocks-lsx-banner-box {
			@include bp(desktop) {
				margin-bottom: 0;
			}
			.lsx-banner-content-wrap {
				.header-headings {
					display: none;
					@include bp(desktop) {
						display: block;
					}
				}
				.page-header {
					@include bp(desktop) {
						@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
							padding-top: 0 !important;
						}
					}
				}
			}
			&:after {
				content: '';
				background-image: url(../images/six-icon.svg);
				width: 64px;
				height: 64px;
				position: absolute;
				z-index: 999;
				bottom: -3rem;
				left: calc(50vw - 44px);
				background-size: contain;
				@include bp(tablet) {
					display: none;
				}
			}
		}
		#primary.content-area {
			h1 {
				@include bp(phone) {
					font-size: 32px;
				}
			}
		}
	}
	.wp-block-lsx-blocks-lsx-banner-box {
		&.big-banner {
			.lsx-banner-column {
				.lsx-banner-image-wrap{
					&:empty {
						min-height: 300px;
					}
				}
			}
		}
		.lsx-banner-column {
			.lsx-banner-image-wrap{
				@include bp(phone) {
					min-height: 160px;
					img {
						min-height: 160px;
					}
				}
			}
		}
		.lsx-banner-content-wrap {
			@include bp(phone) {
				padding-top: 8.4rem !important;
				.header-headings {
					.page-header {
						h2 {
							font-family: $mont !important;
							font-weight: bold !important;
						}
					}
				}
			}
			.header-headings {
				@include bp(desktop) {
					max-width: 600px;
					.lsx-banner-logo:not(:empty) {
						.lsx-banner-logo-img {
							max-width: 100%;
						}
					}
					.page-header {
						@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
							padding-top: 4rem;
						}
						.lsx-banner-name {
							font-size: 40px !important;
							font-family: $mont, sans-serif !important;
							font-weight: bold !important;
							margin-top: 12px !important;
							line-height: 49px !important;
						}
					}
					.lsx-banner-title {
						font-size: 20px !important;
						font-weight: 300;
						line-height: 30px;
						margin-bottom: 23px;
					}
				}
			}
		}
	}
	.home-containers-info {
		.lsx-container-inside {
			.lsx-container-content {
				max-width: 100% !important;
				@media (max-width:900px) {
					padding: 0;
				}
				@include bp(phone) {
					padding: 0 5rem;
				}
				.wp-block-columns {
					.wp-block-column {
						padding: 1rem;
						@include bp(phone) {
							padding: 0;
						}
						.wp-block-image {
							margin: -1rem;
							@include bp(phone) {
								margin: 0;
								img {
									width: 100%;
								}
							}
						}
						@include bp(desktop) {
							display: flex;
							flex-direction: column;
							justify-content: center;
							padding: 4rem;
							@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
								max-height: 440px;
								.wp-block-image {
									img {
										max-height: 440px;
									}
								}
							}
							.wp-block-image {
								margin: -4rem;
							}
						}
						* {
							margin-left: 0;
							margin-right: 0;
						}
						p {
							max-width: 518px;
							font-size: 18px;
							font-weight: 300;
						}
						ul {
							font-weight: 300;
						}
					}
					&.home-first-column {
						.wp-block-column {
							@include bp(phone) {
								&:nth-of-type(2) {
									padding: 4rem;
								}
							}
						}
					}
					&.home-second-column {
						@include bp(phone) {
							display: flex;
							flex-direction: column-reverse;
						}
						.wp-block-column {
							&:first-of-type {
								max-width: 620px;
								margin-left: auto;
							}
							&:nth-of-type(2) {
								@include bp(tablet) {
									padding-right: 0;
									.wp-block-image {
										margin-right: 0px;
										margin-left: 0;
									}
								}
							}
							@include bp(phone) {
								display: flex;
								flex-direction: column;
								&:nth-of-type(1) {
									margin-left: 0;
									padding: 4rem;
								}
							}
						}
					}
				}
			}
		}
	}
	.cta-home-container {
		.wp-block-image:not(.alignfull) {
			@include bp(desktop) {
				max-width: 275px !important;
				margin-left: 0 !important;
			}
		}
		p {
			font-size: 24px;
		}
		.has-medium-font-size,
		.white {
			font-size: 24px !important;
			font-weight: 600;
			color: black;
			line-height: 30px !important;
			font-family: $mont, sans-serif;
			font-weight: 500;
		}
		.white {
			color: white !important;
			max-width: 660px;
			margin-left: 0;
		}
		.wp-block-columns {
			@include bp(tablet) {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				.wp-block-column {
					* {
						text-align: center;
					}
					p {
						font-size: 18px;
					}
					.lsx-button {
						font-size: 14px;
						min-width: 300px;
					}
				}
			}
		}
	}
	.got-covered {
		.wp-block-columns {
			.wp-block-column {
				max-width: 300px;
				margin-left: auto;
				margin-right: auto;
				.wp-block-image img {
					min-width: 75px;
				}
			}
		}
	}
}
#lsx-banner {
	.page-banner-wrap {
		.page-banner {
			.page-header {
				.page-title {
					color: white;
				}
			}
		}
	}
}

//Content
.content-area {
	a,
	a:visited,
	a:active {
		&:not(.btn) {
			color: $red;
			&:hover {
				color: black;
			}
		}
	}
}
.lsx-title {
	&:after {
		background-color: $red !important;
		margin: 1.4rem auto 0;
		width: 120px;
	}
	
}
//Recipes Archive
.post-type-archive-recipe,
.tax-recipe-type {
	#facetwp-top {
		.facetwp-sort-select {
			&::-ms-expand {
				display: none !important;
			}
			-webkit-appearance: none !important;
			-moz-appearance: none !important;
			-o-appearance: none !important;
		}
	}
	.archive-plan {
		@media not all and (min-resolution:.001dpcm)
		{ @supports (-webkit-appearance:none) {
			@media (max-width: 991px) {
				.col-sm-6 {
					width: 49%;
				}
			}
			@media (min-width: 992px) {
				.col-md-4 {
					width: 32.23%;
				}
			}
			
			}
		}
		.lsx-slot {
			.content-box {
				padding-top: 10px !important;
				padding-bottom: 15px !important;
				.recipe-title,
				.recipe-table {
					margin-bottom: 15px;
				}
				.recipe-table {
					color: #9b9b9b;
					margin: 0;
					.serves {
						&:before {
							color: $red;
						}
					}
				}
				.recipe-title {
					margin-bottom: 10px;
				}
				.border-btn,
				.border-btn:active,
				.border-btn:visited {
					border: 2px solid $red;
					color: $red;
					font-size: 0;
					padding: 10px;
					height: auto;
					white-space: pre-line;
					&:before {
						content: "Ingredients & Recipes >";
						font-size: 14px;
					}
					&:hover {
						background: $red;
						color: white;
					}
				}
			}
		}
	}
	#recipes-cta {
		background-color: white;
		padding: 8rem;
		.row {
			max-width: 1200px;
			display: flex;
			align-items: center;
			margin-left: auto;
			margin-right: auto;
			@include bp(tablet) {
				flex-direction: column;
			}
			.col-md-8 {
				h3 {
					font-size: 24px;
					font-family: $open;
					font-weight: 600;
					margin-bottom: 3rem;
					max-width: 600px;
				}
				h4 {
					font-weight: 200;
					font-family: $open;
					font-size: 20px;
					max-width: 600px;
				}
			}
		}
	}
}
@media (min-width: 992px) and (max-width: 1200px) {
	.archive {
		.facetwp-sidebar.widget-area + .content-area {
			width: 70%;
		}
	}
}

// Single Plan
.single-plan,
.archive-plan {
	.blue-title {
		color: $red;
	}
	.status-plan-buttons {
		clear: both;
		.single-plan-inner-buttons {
			padding: 10px 0;
		}
	}
}
.single-plan {
	.lsx-hp-archive-description {
		@include bp(phone) {
			display: none;
		}
	}.archive-header-wrapper {
		.archive-header {
			.archive-title {
				text-transform: uppercase;
			}
		}
	}
	article.recipe {
		&.recipe-type-no-serves {
			#single-recipe {
				.recipe-content {
					.recipe-data {
						display: none;
					}
				}
			}
		}
	}
	.single-plan-inner-buttons {
		.complete-plan-btn {
			.btn {
				@extend .yellow-btn;
			}
		}
		.back-plan-btn {
			.btn {
				@extend .gray-btn;
			}
		}
	}
	.row.tab-content-plan {
		padding-bottom: 8rem;
		@include bp(phone) {
			padding-bottom: 2.4rem;
		}
	}
	.weekly-must-read {
		width: 100%;
		.must-read-container {
			display: flex;
			@include bp(phone) {
				flex-direction: column;
			}
			.must-read-img {
				min-width: 30%;
				@include bp(phone) {
					min-width: 100%;
					margin-bottom: 2rem;
				}
				img {
					width: 100%;
					padding-right: 2rem;
					@include bp(phone) {
						padding-right: 0;
					}
				}
			}
		}
	}
	#single-recipe {
		margin-bottom: 0;
		>.row {
			@media (max-width:767px) {
				margin-right: 0;
			}
			.recipe-image {
				padding-right: 3.5rem;
				margin-bottom: 8rem;
				@media (max-width:767px) {
					padding-right: 0;
					margin-bottom: 2.4rem;
				}
			}
			.recipe-content {
				margin-bottom: 10px;
				.recipe-data {
					max-width: 150px;
				}
			}
		}
	}
}
.single-recipe {
	#single-recipe {
		.recipe-image {
			.recipe-data {
				tbody {
					td:first-child {
						color: $red;
					}
				}
			}
		}
		.recipe-content {
			margin-bottom: 2.4rem;
		}
	}
}
.plan-template-default {
	.content-area {
		margin-bottom: 2.4rem;;
	}
}

//My Account
#account-nav,
#single-plan-nav {
	.nav.nav-pills {
		@include bp(phone) {
			&::-webkit-scrollbar-thumb {
				background-color: $dark-red;
			}
		}
		li {
			@include bp(phone) {
				width: auto;
				width: 33.33%;
				flex-grow: 1;
				padding-right: 5px;
				&:last-child {
					padding-right: 0;
				}
			}
			@media not all and (min-resolution:.001dpcm)
			{ @supports (-webkit-appearance:none) {
				@include bp(phone) {
					width: 33.33%;
				}
			}
			}
			&.active, &:hover {
				a {
					background-color: $red;
					svg {
						g {
							circle {
								fill: transparent !important;
								stroke: white !important;
							}
						}
					}
				}
				
			}
			a {
				font-family: $mont;
				font-weight: 500;
				font-size: 18px;
				font-weight: 500;
				align-items: center;
				padding: 5px 15px;
				height: 55px;
				@include bp(phone) {
					font-size: 13px;
					line-height: 15px;
					padding: 5px;
					padding-top: 8px;
					opacity: 1 !important;
					color: black;
					height: 60px;
				}
				&.meal-plan-tab {
					display: none;
				}
				&::after {
					color: black;
				}
				svg {
					top: 0 !important;
					@include bp(phone) {
						height: 25px;
						margin-bottom: 3px;
					}
				}
				@include bp(tablet) {
					&.my-plan-tab,
					&.account-details-tab,
					&.logout-tab {
						display: flex;
						flex-direction: column-reverse;
						justify-content: center;
						&:after {
							font-size: 20px;
							bottom: 0;
							margin: 0;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 768px) {
	.lsx:not(.single-post):not(.page-has-banner) .wrap .archive-header-wrapper .archive-header {
		padding-top: 25px;
		padding-bottom: 25px;
	}
}
@media (min-width: 769px) and (max-width: 1024px) {
	.lsx:not(.single-post):not(.page-has-banner) .wrap .archive-header-wrapper .archive-header {
		padding-top: 70px;
		padding-bottom: 30px;
	}
}

.woocommerce-lost-password {
	&.woocommerce-page.page-has-banner.lsx {
		.wrap.container {
			@media (min-width: 768px) {
				width: 1170px;
				padding-right: 15px;
				padding-left: 15px;
			}
			margin-right: auto;
			margin-left: auto;
		}
		.archive-header-wrapper {
			display: block !important;
			@media (max-width:767px) {
				padding-left: 0;
				padding-right: 0;
				margin-left: -15px;
				margin-right: -15px;
			}
			.archive-header {
				align-items: center;
				display: flex;
				flex-flow: column wrap;
				justify-content: center;
				margin: 0 -9999rem;
				padding: 10px 9999rem;
				text-align: center;
				max-width: initial;
				@media (min-width:320px) {
					padding: 100px 9999rem 50px;
				}
				@media (min-width: 768px) {
					.archive-title {
						max-width: 70%;
						margin-left: auto;
						margin-right: auto;
					}
				}
				@media (max-width:767px) {
					padding: 50px 20px 50px;
					margin: 50px 0 0;
				}
			}
		}
		#primary {
			margin-top: 4.5rem;
			margin-bottom: 4.5rem;
		}
	}
}
#edit-account-tab {
	.edit-account-section {
		.my-stats {
			.form-row {
				&:first-child,
				&:nth-child(2),
				&:nth-child(3) {
					color: $red;
				}
				&#fitness_start_field,
				&#fitness_goal_field,
				&#fitness_end_field {
					display: none;
				}
			}
		}
		.wpua-edit-container {
			h3 {
				border-bottom: 2px solid $red;
				padding-bottom: 10px;
			}
		}
	}
}
#primary.content-area {
	.my-profile-block {
		.profile-navigation {
			.profile-photo {
				img {
					border: 2px solid $red;
				}
			}
		}
		.profile-details {
			h1 {
				font-family: $mont;
				font-weight: 500;
				font-size: 30px;
				padding-bottom: 13px;
			}
		}
		.personal-information {
			strong {
				font-size: 15px;
				color: #333333;
			}
			tbody {
				tr {
					td {
						font-family: $open;
						font-size: 15px;
						font-weight: 400;
					}
					&:nth-child(3) {
						display: none;
					}
				}
			}
		}
	}
}

//Restricted content page
.content-restricted:not(.logged-in) {
	#primary {
		.wp-block-lsx-blocks-lsx-container {
			padding-left: 0% !important;
			padding-right: 0% !important;
			width: 100%;
			max-width: 95%;
		}
	}
}

// Shortcodes
.menu-my-account {
	@include bp(phone) {
		padding-left: 1% !important;
		padding-right: 1% !important;
	}
	@media (min-width: 901px) and (max-width: 1120px) {
		.lsx-container-content {
			padding-left: 5rem;
			padding-right: 5rem;
		}
	}
}
.daily-plan-block {
	.week-meals-recipes-box {
		.title {
			font-size: 0 !important;
			&:after {
				font-size: 22px !important;
				content: 'Meals & Recipes';
				font-family: $mont, sans-serif;
				font-weight: 500;
				color: #222222;
				background-image: url(../images/meal.svg);
				position: absolute;
				background-repeat: no-repeat;
				padding-left: 4rem;
			}
		}
		svg {
			g {
				display: none;
				fill: $red;
				stroke: $red;
			}
		}
	}
	.week-download-box {
		svg {
			g {
				stroke: $red;
			}
		}
		li {
			color: $red;
			@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
				line-height: 10px !important;
				.download-link {
					line-height: 15px !important;
					position: relative;
					bottom: 1rem;
				}
			 }
		}
	}
	&.week-grid {
		a.week-title,
		a.week-title:hover,
		a.week-title:focus {
			font-family: $mont, sans-serif;
			font-weight: bold !important;
			font-size: 28px;
			color: $heading;
		}
		a.week-title {
			&::after {
				color: $red;
			}
		}
		.week-row {
			.week-row-inner {
				.week-meals-recipes-box {
					.week-meals-recipes-box-inner {
						padding: 0 3rem;
						margin-left: auto;
						margin-right: auto;
						.day {
							&:not(.completed) {
								border: 4px solid $btn-gray;
								background: $red;
								margin-right: 0px !important;
								.plan-content {
									color: white;
									font-family: $open;
									font-weight: 800 !important;
								}
							}
							&:hover {
								&:not(.completed) {
									background: black;
								}	
							}
						}
					}
				}
				&.week-downloads-view-on {
					.week-download-box {
						@media (min-width:1025px) {
							max-width: 290px;
							width: 290px;
						}
					}
				}
			}
		}
	}
}
.my-profile-block {
	.profile-navigation {
		.edit-profile {
			.btn.btn-green {
				@extend .yellow-btn;
			}
		}
	}
}

//Pagination
.content-area {
	.lsx-pagination {
		>.page-numbers {
			border-color: black;
			color: black;
			&:not(.dots)+.page-numbers:not(.dots) {
				color: black;
			}
			&.current,
			&:hover {
				background-color: black;
			}
			&.next,
			&.prev {
				border-color: black;
				color: black;
				&:before {
					border-color: black;
					color: black;
				}
			}
		}
	}
}

//Footer
#footer-widgets {
	.row {
		@include bp(tablet) {
			text-align: center;
		}
		.widget_text {
			&:first-of-type {
				@include bp(desktop) {
					width: 80%;
				}
			}
			@include bp(tablet) {
				width: 100%;
			}
		}
	}
	.widget-title {
		font-family: $mont;
		font-weight: 500;
		font-size: 20px;
		line-height: 24px;
		color: white;
	}
	.textwidget {
		a:not(.btn):not(button) {
			&:hover {
				color: $red;
			}
		}
		i {
			color: $yellow;
			&:hover {
				color: $red;
			}
		}
	}
}

#colophon {
	.container {
		>.row {
			@include bp(tablet) {
				>.col-sm-12 {
					.credit {
						text-align: center;
					}
					#menu-footer-menu {
						flex-direction: column;
						text-align: center;
						li {
							&::after {
								content: none;
							}
						}
					}
				}
			}
			#menu-footer-menu {
				li {
					&.menu-images-gallo-images-getty-images {
						a {
							cursor: not-allowed;
							pointer-events: none;
						}
					}
				}
			}
		}
	}
}